@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* root : 최상 계층 / 보통 root권한 있냐고 물어본다(모든 권한이 있냐는 말)*/

/* 자주 사용하는 Color 모음 */
--mainColor: #eaeaea;
--secondaryColor : #fff;
--borderColor: #c1c1c1;
/* 자주 사용하는 Color에 변수이름을 만들고 변수를 활용함 */

}
/* h3~ h6 공통처리 (전역 변수개념)  */
h3, h6{
    font-weight: 500;
    font-family: 'Russo One', sans-serif;
    /* font-family : 폰트 지정 */
}


.section{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    padding: 2%;
   
}

.project-catainer {
    width : 1500px;
    /* 위 아래는 없고 오른쪽 왼쪽은 자동으로 맞추기 */
    margin: 0 auto;
}

.project-catainer h3{
    font-size: 35px;
    text-align: center;
    margin: 28px 0;
    font-weight: 800;
    color: teal;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 20px;
   
}

.post img{
    width: 100%;
    height: auto;
    object-fit: cover;
    /* object-fit : 사진 깨짐 방지 */
}

.post-preview{
    background-color: var(--secondaryColor);
    padding: 5%;
}

.post-preview h6{
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.post-preview p{
    color: #4b5156;
    font-size: 14px;
    margin: 14px 0;

}

.post-preview a{
    text-decoration: none;
    color: #17a2b8;
}

.post{
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-shadow: -2px 7px 12px -9px rgba(0, 0, 0, 0.75);
}

.main-container{
    width: 1200px;
    height: 615px;
    margin: 0 auto;
}

.about-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.about-me{
    width: 550px;
    height: auto;
}

.about-me p{
    margin: 16px 0;
}

.about-me h4{
    font-size: 24px;
    margin: 32px 0;
}

.skills{
    display: flex;
    justify-content: space-evenly;
    background-color: #f0ead6;
    border-radius: 10px;
}

.skills ul{
    list-style: none;
    padding-left: 40px;
    padding: 16px 0;
}

.skills ul li{
    color: #4b5156;
}

.social-links {
    width: 550px;
    height: auto;
}

.social-links img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid gray;
}

.social-links h3{
    text-align: center;
    margin-top: 28px;
    font-size: 28px;
}

.github {
    text-align: center;
}
.github a{
    font-size: 18px;
    text-decoration: none;
    color: #17a2b8;
   
}

header{
    background-color: var(--mainColor);
    border-bottom: var(--borderColor);
}

.greeting-wrapper{
    padding: 46px 0;

}

.greeting-wrapper h1{
    text-align: center;
    font-size: px;
    font-family: 'Orbitron', sans-serif;
    color: dodgerblue;
}

.intro-wrapper{
    background-color: rgba(255, 255, 255, 0.26);
   
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    /* border-radius: (위 왼쪽) (위 오른쪽) (아래 오른쪽) (아래 왼쪽) */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 모든 아이템의 크기를 동일하게 맞춤 */
    grid-template-areas: "nav-wrapper nav-wrapper" "info-wrapper do-wrapper";
    /* 위 4개가 클래스이름(4등분하겠다) */
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.nav-wrapper{
    width: 100%;
    grid-area: nav-wrapper;
    /* nav-wrapper가 grid의 지역이 되겠다 */
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* id는 # /  class는 . */
#dot-1{
    background-color: #fc6058;
}

#dot-2{
    background-color: #fec02f;
}

#dot-3{
    background-color: #2aca3e;
}

.dot{
    padding: 10px;
    /* dot의 크기 조절 */
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 8px;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
}
.dot:hover {
    transform: scale(2);
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

.info-wrapper{
    grid-area: info-wrapper;
    padding: 30px 0;
}

.info-wrapper img{
    display: block;
    width: 230px;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: -2px 7px 12px -9px rgba(0, 0, 0, 0.75);
    border: 1px solid black;
   
}

.info-wrapper h5{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    color: black;
}

.do-wrapper{
    grid-area: do-wrapper;
    padding: 50px 10px;
} 

.preview-shadow{
    /* background-color: #f0ead6; */
    background-color: #28442c2a;
    width: 300px;
    height: 180px;
    padding-top: 20px;
    padding-left: 30px;
}

.preview{
    width: 330px;
    border: 1.5px solid #12a2b8;
    background-color: rgb(251, 249, 243, 0.8);
    padding: 15px;
    position: relative;
}

.corner{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1.5px solid #12a2b8;
    position: absolute;
}

#corner-tl{
    top: -5px;
    left: -5px;

}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-br{
    bottom: -5px;
    right : -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}

.preview h3{
    font-size: 28px;
    margin: 28px 0;
}


.preview p {
    font-size: 18px;
    color: #4b5156;
    margin: 16px 0;
}