* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  /* opacity 투명도 0 ~ 1*/
  /* opacity: 0.6; */
  background-image: linear-gradient(#06cccc11, #06cccc11), url(blue.jpg);
  background-position: center;
  background-size: cover;
}

.container .p1 {
  padding: 20px;
  color: #02122e;
  font-size: 25px;
  top: auto;
  text-align: center;
  font-weight: 600;
}

.container .p {
  padding: 20px;
  color: #181d27;
  font-size: 60px;
  text-align: center;
  font-weight: 800;
  color: #181d27;
  font-family: 'Roboto Mono', monospace;
}

.container .p2 {
  font-size: 15px;
  text-align: center;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
}

.book-form {
  width: 400px;
  height: auto;
  background-color: #e4e8ee7a;
  margin: 3% auto 0;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  /* 테두리 둥글게 */
}
.book-form input {
  width: 100%;
  border: 2px solid rgba(250, 248, 248, 0.938);
  background-color: #cee0ebd2;

  height: 50px;
  /* 버튼 박스 높이 */
  margin: 10px auto;
  /* 버튼간 간격 */
  border-radius: 5px;
  /* 모서리 둥글게 */
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  color: black;
}

.book-form .depart {
  width: 45%;
  height: 50px;
  margin: 10px 5px 5px;
  padding: 10px;
}

.book-form .arrival {
  width: 45%;
  height: 50px;
  margin: 10px 5px 5px;
  padding: 10px;
  cursor: pointer;
}

.book-form .plane {
  width: 45%;
  height: 50px;
  margin: 10px 5px 5px;
  padding: auto;
}

.book-form .hotel {
  width: 45%;
  height: 50px;
  margin: 10px 5px 5px;
  padding: 10px;
}

.book-form .destination {
  font-size: 20px;
}

.book-form .search {
  font-size: 22px;
  font-weight: 800;
  color: #e9ecf1;
  background-color: #051736e3;
}

body {
  width: 100%;
}

div {
  text-align: center;
  width: 100%;
}

/* 이모지 가운데 정렬 body, div */
